body {
  display: flex;
  color: #525252;
  font-family: monospace;
  font-size: 16px;
  height: 100vh;
  padding: 40px 30px;
}

.font-weight
{
    font-weight: 300;
}

.head
{
    font-style: italic;
}

.name
{
    font-size: 45px;
    font-weight: 900;
    line-height: 45px;
}

.position
{
    font-size: 20px;
    word-spacing: -7px;
    margin-bottom: 45px;
}

.objectives-header
{
    background-color: #EEEEEE;
    font-weight: 500;
    padding: 2px 12px;
    margin-bottom: 16px;
}

.objectives-content
{
    word-spacing: -5px;
    letter-spacing: -1px;
    margin-bottom: 45px;
}


