body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  font-family: system-ui;
  font-size: 16px;
  margin: 0;
}

#header {
  font-style: italic;
  text-align: center;
  background-color: #1a1a1a;
  padding: 32px 0;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 18px;
  color: #1a1a1a;
  background-color: #878787;
  padding: 32px 12px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.right-container,
.left-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.font-weight {
  font-weight: 300;
}

.header {
  color: white;
  background-color: #1a1a1a;
  font-weight: 500;
  padding: 2px 12px;
  margin-bottom: 8px;
}

.name {
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
}

.position {
  font-size: 20px;
}

.objectives-content {
  margin-bottom: 45px;
}

.experience,
.education {
  line-height: 20px;
}


.job-title,
.education-title {
  font-weight: bold;
  font-size: 20px;
}

.personal {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  margin-bottom: 16px;
}

.personal-box {
  display: flex;
  justify-content: space-between;
}

.mini-header {
  font-weight: bold;
  line-height: 10px;
}

.lang {
  margin-top: 10px;
  margin-bottom: 16px;
}

.arabic,
.english {
  display: flex;
  justify-content: space-between;
}

.level {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
  align-items: center;
}

.english-level {
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 16px;
}

.level div {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}

.level .last {
  background-color: #1a1a1a;
  width: 8px;
  height: 8px;
  margin-left: 8px;
}

.level .last-dot
{
  margin-left: 16px;
}

.contact-content div {
  display: flex;
  gap: 6px;
}

img {
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  font-size: 24px;
  font-weight: bold;
  padding: 18px;
}
